<div class="mt-4">
  <h3>My Courses</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Desc</th>
        <th scope="col">Created At</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td>{{this.createAt}}</td>
        </tr>
      {{/each}}

    </tbody>
  </table>
</div>