<div class="mt-4">
  <form method="POST" class="row g-3">
    <div class="col-md-6">
      <label for="search-input" class="form-label">Wanna find smthing?</label>
      <input
        type="text"
        name="q"
        class="form-control"
        id="seach-input"
        placeholder="Input it here"
      />
    </div>
    <div class="col-md-6">
      <label for="gender-input" class="form-label">Gender</label>
      <select type="text" name="gender" class="form-control" id="gender-input">
        <option value="">-- Select gender --</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form></div>